/* --------- Begin Reset --------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------- End Reset ---------- */


body {
    background: #ffc url('MountainBanner.png') no-repeat;
    color: #333;
}

a:link, a:visited {
    color: #85755b;
    text-decoration: none;
}

a:hover, a:active {
    color: #f90;
}


div.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 960px;
}

header {
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    width: 960px;
}

header h1 {
    color: #f90;
    font-size: 32px;
    letter-spacing: .15em;
    line-height: 48px;
    text-align: center;
    word-spacing: .35em;
}

#verse {
    font-style: italic;
    padding: 50px 0px 0 0;
    text-align: center;
} 

#subtitle {
    color: #f90;
    font-size: 24px;
    font-style: italic;
    letter-spacing: .15em;
} 

#postdate {
    color: #4bb05e;
    font-style: italic;
} 
nav {
    float:left;
    display: block;
    margin: 0 10px 0 0;
    width: 140px;
}

nav ul li {
    border-top: 2px solid #4bb05e;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 100px;
}

nav ul li:last-child{
    border-bottom: 2px solid #4bb05e;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 100px;
}

article {
    float: right;
    margin-right: 10px;
    width: 800px;
}

p {
    margin-top: 10px;
    padding-left: 20px;
}

img {
    background: #4bb05e;
    float: right;
    margin: 0 0 10px 40px;
    padding: 4px;
    width: 200px;
}

aside {
    clear: both;
    width: 960px;
}
