---
---
<header>
    <h1>Cory & Natalie</h1>
    <div id="verse">
"For I am convinced that neither death nor life, neither angels nor demons, neither the present nor the future...will be able to separate us from the love of God this is in Christ Jesus our Lord." -Romans 8:38-39 NIV
    </div>     
    <nav>
        <ul>
            <li>Our Story</li>
            <li>Blog</li>
            <li>The Wedding</li>
            <li>Travel & Accomodations</li>
            <li>RSVP</li>
            <li>Photos</li>
        </ul>
    </nav>       
</header>
