---
title: Blog Main Page
---
<! DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cory & Natalie</title>
        <link rel="stylesheet" href="../style.css">

        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    
    <body>
        {% include header.html %}
        <div class="container">
            <article> 
              {% for post in site.posts %}
                <div id="post">
                    {{post.title}}
                </div>
                <div id="subtitle">
                    {{post.date | date_to_string}}
                </div>
                {{post.content}}
              {% endfor %}
            </article>
        </div>
    </body>
</html>


